PORT=4000
CORS_ORIGIN=http://localhost:5173

DB_SERVER=localhost
DB_INSTANCE=
DB_PORT=1433
DB_DATABASE=UsersCardsApp
DB_USER=users_cards_app_user
DB_PASSWORD=ChangeThisPassword123!
DB_ENCRYPT=false
DB_TRUST_SERVER_CERTIFICATE=true
